body{
	font-family: 'Lato', 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.5em;
	color: #242424;
}
input[type=text],input[type=email],input[type=password],input[type=num],input[type=tel], textarea, select{
	box-sizing: border-box;
	padding: 13px;
	color: #2a2a2a;
	background: white;
	height: 47px;
	margin: 10px 0;
	display: block;
	border-radius: 0;
	outline-color: #79C441;
	font-size: 16px;
	border: 1px solid #c6c6c6;
	font-family: 'Lato', 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
input[type=submit],
.link_input{
	box-sizing: border-box;
	padding: 14px 0;
	color: #fff;
	width: 200px;
	font-weight: 700;
	text-transform: uppercase;
	float: right;
	text-align: center;
	background: #79C441;
	border: 0;
	margin: 10px 0;
	display: block;
	border-radius: 0;
	outline-color: #79C441;
	font-size: 16px;
	line-height: 1.3em;
	text-decoration: none;
	font-family: 'Lato', 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}
::-webkit-input-placeholder{
	color: #555;
}

:-moz-placeholder{
	color: #555;
}

::-moz-placeholder{
	color: #555;
}

:-ms-input-placeholder{
	color: #555;
}

.content{
	width: 980px;
	margin: 0 auto;
}
.content_medium{
	width: 800px;
}
.content_smaller{
	width: 700px;
}

header#site_header{
	text-align: center;
}
header#site_header .header_inner{
	padding: 10px 0;
	border-bottom: 1px solid #dfdfdf;
}
header#site_header h1{
	margin: 0;
	float: left;
}
header#site_header .menu_principal{
	float: right;
	margin: 33px 0;
}
header#site_header .menu_principal a{
	color: #242424;
	padding: 5px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: all 0.3s ease;
	line-height: 1em;
	margin-left: 10px;
}
header#site_header .menu_principal a:hover,
header#site_header .menu_principal a.selected{
	color: #79c441;
	border-color: #79c441;
}

footer#site_footer{
	background: #e8e8e8;
	color: #979797;
	font-size: 14px;
	padding: 8px 0;
}
footer#site_footer .text_left,
footer#site_footer .text_right{
	width: 50%;
	float: left;
}
footer#site_footer .text_right{
	text-align: right;
}

/*Home*/
.black_track_description{
	color: #ffffff;
	padding: 30px 0;
	text-align: center;
	background: url('../images/bg_hands.jpg') center bottom no-repeat #262626;
}
.black_track_description h1{
	color: #79c441;
	margin: 10px 0 30px;
}

.green_track{
	background: #79c441;
	color: #fff;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	line-height: 1.3em;
	padding: 30px 0;
}

.user_signin_signup{
	margin: 40px 0;
}

.user_signin_signup .default_box_settings{
	width: 50%;
	float: left;
	padding: 0 60px;
	box-sizing: border-box;
}
.user_signin_signup .default_box_settings h2{
	font-size: 27px;
	font-weight: 700;
	margin-top: 0;
	/*text-align: center;*/
}
.user_signin_signup .default_box_settings h2 img{
	vertical-align: middle;
	margin-right: 10px;
}
.user_signin_signup .login_content_box h2{ color: #79c441; }

.user_signin_signup .default_box_settings input[type=text],
.user_signin_signup .default_box_settings input[type=password]{
	width: 100%;
	box-sizing: border-box;
}
.user_signin_signup .login_content_box .login-username label,
.user_signin_signup .login_content_box .login-password label{
	display: none;
}
.user_signin_signup .login_content_box .login-remember{
	float: left;
	font-size: 14px;
}

.cadastro_content_box{
	border-left: 1px solid #eee;
	height: 250px;
}
.cadastro_content_box a.link_input{
	background: #242424;
}


/*Cadastro*/
.gray_header{
	background: #f2f2f2;
	text-align: center;
}
.gray_header h1{
	font-size: 36px;
	font-weight: 300;
	color: #6f6f6f;
	line-height: 1em;
	padding: 30px 0;
	margin: 0;
}

.main_content{
	margin: 30px auto;
}
.simplr-reg{
	width: 100%;
	display: block;
}
#simplr-reg label{
	display: none;
}
#simplr-reg .simplr-clr,
#simplr-reg br{
	display: none;
}
#simplr-reg .simplr-field,
#simplr-reg .option-field{
	width: 46%;
	float: left;
	display: block;
}
#simplr-reg input[type=text],
#simplr-reg input[type=password],
#simplr-reg select{
	width: 100%;
}
#simplr-reg .date select.day,
#simplr-reg .date select.month{
	width: 25%;
	float: left;
}
#simplr-reg .date select.month{
	margin: 10px 5%;
}
#simplr-reg .date select.year{
	width: 40%;
	float: left;
}

#simplr-reg .first_name,
#simplr-reg .sexo,
#simplr-reg .endereco,
#simplr-reg .estado,
#simplr-reg .universidade,
#simplr-reg .especialidade,
#simplr-reg .email_confirm,
#simplr-reg .password_confirm{
	float: right;
}
#simplr-reg .telefone{
	float: left;
	margin-right: 54%;
}

.simplr-message.error{
	background: #fdd3cf;
	color: #de2211;
	padding: 5px 10px;
}


/*Área restrita*/
.logout_content{
	/*background: #f2f2f2;*/
	color: #fff;
	padding: 10px 0;
	background: #feda00;
	font-size: 14px;
	background: #1eb500; /* Old browsers */
	background: -moz-linear-gradient(left,  #1eb500 0%, #bcd648 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1eb500), color-stop(100%,#bcd648)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1eb500 0%,#bcd648 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1eb500 0%,#bcd648 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1eb500 0%,#bcd648 100%); /* IE10+ */
	background: linear-gradient(to right,  #1eb500 0%,#bcd648 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1eb500', endColorstr='#bcd648',GradientType=1 ); /* IE6-9 */
}
.logout_content a{
	color: #fff;
}

.crescimento_legenda{
	list-style: none;
	padding: 0;
	margin: 40px 0;
}
.crescimento_legenda li{
	width: 25%;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2%;
}
.cor_box{
	width: 35px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.amarelo{ background: #fbd126; color: #fff; }
.verde{ background: #79c441; color: #fff; }
.vermelho{ background: #e74c3c; color: #fff; }
.color_amarelo{ color: #fbd126; }
.color_verde{ color: #79c441; }
.color_vermelho{ color: #e74c3c; }
.cor_label{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 55px);
	font-size: 14px;
	line-height: 1.2em;
}

.tabela_comparativa{
	width: 100%;
	border-collapse: collapse;
}
.tabela_comparativa thead th{
	background: #2a2a2a;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 12px;
}
.tabela_comparativa .seq_column{
	width: 160px;
	text-align: center;
	font-weight: 700;
}
.tabela_comparativa .desc_column{
	text-align: left;
}
.tabela_comparativa a{
	padding: 12px;
	display: block;
	color: inherit;
	text-decoration: none;
	transition: background 0.3s ease;
}
.tabela_comparativa tr:hover a{
	background: rgba(0,0,0,0.1);
}

.tabela_comparativa tbody td{
	border-bottom: 1px solid #f2f2f2;
}


/*CSS estágio single*/
.single_estagio{
	background: #000;
	color: #fff;
}
.single_estagio header h1{
	font-size: 36px;
	font-weight: 300;
	float: left;
	margin: 25px 0;
}
.single_estagio header a.voltar{
	color: #fff;
	display: block;
	float: right;
	margin: 18px 0;
	font-size: 18px;
	text-decoration: none;
	font-weight: 300;
	opacity: 1;
	transition: opacity 0.3s ease;
}
.single_estagio header a.voltar:hover{
	opacity: 0.5;
}
.single_estagio header a.voltar span{
	vertical-align: middle;
}
.back_icon{
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	background: url('../images/arrow_back.svg') center no-repeat;
	border: 1px solid #fff;
	border-radius: 100%;
	margin: 0 10px;
}

.single_estagio h2{
	font-size: 22px;
	margin: 20px 0;
	font-weight: 400;
	text-align: center;
}
.radiographs_wrapper{
	margin-top: 30px;
}
.radiographs_wrapper > div{
	width: 50%;
	float: left;
	text-align: center;
}
.radiographs_wrapper > div img{
	max-width: 100%;
	height: auto;
}
.radiographs_wrapper > div ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.waiting_to_upload{
	width: 250px;
	margin: 40% auto 0;
}
#upload_the_image{
	position: relative;
}
#upload_the_image input[type=file]{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
	z-index: 1;
	cursor: pointer;
}
.waiting_to_upload a{
	display: block;
	padding: 10px 0;
	border: 1px solid #fff;
	border-radius: 30px;
	text-decoration: none;
	color: inherit;
	margin: 20px auto;
	transition: all 0.3s ease;
	text-align: center;
}
.waiting_to_upload form:hover a{
	color: #000;
	background: #fff;
}
.radiograph_exemple{
	position: relative;
}
.radiograph_image_big{
	display: block;
	position: relative;
}

.magnifier_advise{
	font-size: 12px;
	display: block;
	padding: 5px 0 5px 20px;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 1;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	background: url('../images/magnifier.svg') left center no-repeat;
}
#uploaded_image{
	opacity: 0;
	visibility: hidden;
	transition: all 0.7s ease;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
#uploaded_image.shown{
	opacity: 1;
	visibility: visible;
}
.radiograph_upload{
	position: relative;
}
#remove_uploaded_image{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	cursor: pointer;
	display: block;
	z-index: 3;
	display: none;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.explanation{
	color: #999;
	font-size: 12px;
	line-height: 1.5em;
	text-align: justify;
}

.survey_form ol{
	padding-left: 22px;
}
.survey_form ol li{
	margin: 30px 0;
}
.survey_form ol li p{
	margin: 10px 0;
}
.survey_form ol li fieldset{
	border: 0;
	margin: 0;
	padding: 0;
}
.survey_form ol li fieldset label{
	margin-right: 25px;
}
.survey_form ol li fieldset label input{
	margin-right: 5px;
}
.survey_form textarea{
	width: 100%;
	height: 150px;
	border: 1px solid #c6c6c6;
}